@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


body{
	font-family: 'Avenir';
	font-size: 18px;
	margin: 0px;
}
h1{
	font-family: Helvetica, sans-serif;
}
h2, h3{
	font-family: 'Avenir';
}
a{
	text-decoration: none;
}
